
:root{
    --color: black;
    --card-background:#fdfdfd ;
    --card-shadow: 0 0 0;
    --body-background:#f8f9fa;
    --header-background:white;
    --button-background: #e9ecef;
} 

body.dark{
    --color: white;
    --card-background:#172231 ;
    --card-shadow: 0 0 0;
    --body-background: #111c27;
    --header-background:#172231;
    --button-background: #203147;
}
input, button, textarea{
    background: var(--button-background);
}
textarea, input[type=text]{
    border: none !important;
    color: var(--color);
}
body{
    background-color: var(--body-background);
    margin:0;
    color: var(--color);
}
*{
    font-family: 'Poppins', sans-serif;
}
body > h2 {
    font-style: italic;
    text-align: center;
    letter-spacing: .1em;
    background-color: var(--header-background);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: .5em;
    margin: 0;
}
i{
    margin-left: 1em;
    margin-right: 1em;
}
.card{
    background-color: var(--card-background);
    box-shadow: 0 0.5rem 1rem rgb(var(--card-shadow) / 15%);
    margin: 1.5em;
    padding:1em;
    border-radius: 1em;
}
.card label{
    font-weight: bold;
    padding:.5em;
}
.card input, textarea{
    font-family: monospace;
    border-radius: .3em;
    border: 1px solid rgba(var(--theme), 0.5);
    padding: .3em;
    border: 2;
}
.card h3{
    color: rgb(var(--theme));
    letter-spacing: .1em;
    border-bottom:2px solid rgb(var(--theme));
}
.card .options, .card .list{
    width:100%;
    display:inline-flex;
    flex-direction:column;
}
.card .list li{
    cursor:grab;
}
.card code{
    font-family: monospace;
    background-color: rgba(var(--theme), 0.2)
}
.card button{
    background-color: var(--button-background);
    color: rgb(var(--theme));
    border:none;
    border-radius: 1em;
    margin-top:1em;
    padding:.5em;
    font-weight:500;
    cursor:pointer;
    transition: background-color .2s;
}
.card button:hover{
    background-color: rgba(var(--theme),0.2);
}
#configuration{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
}
#configuration textarea{
    resize: vertical;
}
#codearea{
    width: 100%;
    height: 40em;
    display: grid;
    grid-template-columns: 50% 50%;
}
#codearea .card{
    display:flex;
    flex-direction: column;
}
#codearea textarea{
    font-family: monospace;
    width:100%;
    flex-grow: 1;
    resize: vertical;
}

#cardInject{
    grid-column-start: 1;
}
#cardReplace{
    grid-column-start: 1;
}
#cardGroup, #cardHelp{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}
#cardGroup{
    display:flex;
    flex-direction: column;
    place-content: space-between;
}
body.help #cardGroup, body.help #cardProcess{display:none;}
body:not(.help) #cardHelp, body:not(.help) #cardAbout{display:none;}
#cardProcess, #cardAbout{
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 3;
    grid-column-end: span 2;
}

#leftBtn, #rightBtn{cursor: pointer;}
#leftBtn{
    float:left;
}
#rightBtn{
    float:right;
}